h1{
    border: 5px solid red;
}
h2{
    border: 4px dotted blue;
}
h3{
    border: double;
}
h4 {
    border-bottom: 5px solid aqua;
}
h5{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px rgb(20,30,1000);
}
h6{
    margin:auto;
    margin-top: 50px;
    width: 200px;
   padding: 10px;
   background-color: aquamarine;
   box-shadow:20px 20px 50px 10px pink;
}